/*
NOTE
#foo => style specific element with id="foo"
.foo => style all elements with class="foo"
*/
body {
  background: white;
  font-family: 'Fraunces', sans-serif;
  margin: 0;
}
main {
  /* --left-right-margin: calc(min(2vw, 1%)); */
  background: white;
  font-family: 'Fraunces', sans-serif;
  margin-top: 0;
  padding-top: 0;
  border: none;

  /* margin-left: var(--left-right-margin);
  margin-right: var(--left-right-margin); */
  width: 768px;
  margin: 0 auto;
}
.spacer {
  width: 100%;
  height: 41px;
}
#header {
  font-family: 'Fraunces', sans-serif;
  background: white;
  border: 0;
  width: 100%;
  top: 0;
  position: sticky;
  padding-top: 10px;
}
#header-grid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#menulink {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100%;
  align-items: stretch;
  justify-content: space-between;
}
.navbutton {
  padding: 10px;
}
.navbutton:link, .navbutton:visited, .navbutton:hover, .navbutton:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
#navbutton-name {
  font-size: 28px;
  padding-left: 10%;
  padding-right: 10px;
}
#navbutton-name:link, #navbutton-name:visited, #navbutton-name:hover, #navbutton-name:active {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.socials {
  cursor: pointer;
  border: 0px solid;
  background-color: transparent;
  height: 30px;
  width: 30px;
  padding: 0;
}
.socials.linkedin {
  margin-left: auto;
}
.socials.github {
  margin: 0 2%;
}

/* homepage */
#bio {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
#homepicture {
  margin-left: 5%;
  margin-right: 5%;
  height: 320px;
  width: 320px;
  border-radius: 5%;
  filter: drop-shadow(5px 5px 1rem grey);
}
#maintext {
  font-family: 'Fraunces', sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-weight: 400;
	line-height: 1.58;
	letter-spacing: -.003em;
	font-size: 48px;
  margin-top: 0;
  margin-right: 5%;
}
@media only screen and (min-width:777px) and (max-width: 1023px){
  #bio {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1vw;
  }
  #homepicture {
    margin-left: 1%;
    margin-right: 1%;
    height: 98vw;
    width: 98vw;
  }
}

/* goals */
#goals-header {
  padding-left: 5%;
}
.goal-bullet {
  list-style-type:none;
  padding: 0;
}
.goal-bullet-indented {
  list-style-type:none;
  margin-left: 5%;
}

/* trip */
#trips-header {
  padding-left: 5%;
}
.trip-bullet-indented {
  padding-left: 5%;

}
.trip-list-item {
  padding-bottom: 10px;
  display: flex;
}
.trip-date {
  width: 176px;
  text-align: right;
  display: flex;
}
@media screen and (max-width: 776px) {
  .lg-react-element{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2px;
  }
  .photo {
    max-height: 98vw;
    max-width: 98vw;
    height: auto;
    width: auto;
    object-fit: cover;
  }
}
@media (min-width:777px) and (max-width: 1280px) {
  .lg-react-element{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2px 0;
  }
  .photo {
    max-height: 48vw;
    max-width: 48vw;
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
@media screen and (min-width: 1281px) {
  .lg-react-element{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 2px;
  }
  .photo {
    --left-right-margin: calc(min(2vw, 1%));
    --max-image-width: calc(max(90vw / 3), 31vw);
    max-height: 30vw;
    max-width: 32.5vw;
    width: auto;
    height: auto;
    object-fit: cover;
  }
}
.photoGridItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.trip-header {
  margin-top: 0;
}
#go-back-button {
  display:inline-block;
  margin: 50px;
}

/* blog specific */
.blog-post {
  width: 728px;
  display: block;
  margin: 0 auto;
}
.blog-header-photo {
  width: 100%;
}
.blog-single-photo {
  width: 80%;
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* .blog-side-by-side-photos {

} */
#peters-link {
  display: grid;
  justify-content: center;
}
.gallery-container {
  max-height: 300px;
}

/* error page */
#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#error-home-button {
  padding-top: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

/* fonts */
@font-face {
  font-family: 'Fraunces';
  src: url('../fonts/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf');
}
@font-face {
  font-family: 'Fraunces-Italic';
  src: url('../fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf');
}
